.spinner {
  --border-color: rgba(0, 0, 0, 0.2);
  --border-top-color: black;
  --size: 25px;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 5px solid var(--border-color);
  border-top: 5px solid var(--border-top-color);
  animation: spin 0.8s linear infinite;
  margin: 3px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
